<!DOCTYPE html>
<!--suppress XmlHighlighting -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--suppress SpellCheckingInspection -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--suppress SpellCheckingInspection -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Grants - person</title>
</head>
<body>
<!--/*@thymesVar id="deathCertificateCommand" type="scot.carricksoftware.grants.commands.certificates.deathcertificates.DeathCertificateCommand"*/-->
<div th:insert="~{fragments/layout::banner}"></div>

<div class="container border border-info rounded-3 text-center p-4">
    <h3>Death Certificate Details</h3>
    <form th:object="${deathCertificateCommand}" th:action="@{/deathCertificate}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p>Please Correct The Errors Below</p>
        </div>

        <table style="width:100%;">
            <tr>
                <td style="text-align: right;">
                    <label for="id"><span style="color: rgb(255,0,0);">*</span>Database Id :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <input class="form-control" id="id"
                           th:field="*{id}" type="text" readonly>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="certificateNumber">Certificate Number :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <input class="form-control" id="certificateNumber"
                           th:field="*{certificateNumber}" type="text">
                    <div th:if="${#fields.hasErrors('certificateNumber')}">
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.errors('certificateNumber')}" th:text="${err}"/>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="certificateSource">Certificate Source&nbsp;:&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <select id="certificateSource" name="certificateSource" th:field="*{certificateSource}">
                            <option th:value="${''}" th:text="${''}"></option>
                            <!--/*@thymesVar id="organisations" type="scot.carricksoftware.grants.domains.places.Organisation"*/-->
                            <option th:each="organisation : ${organisations}"
                                    th:value="${organisation.id}" th:text="${organisation.toString()}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('certificateSource')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('certificateSource')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="certificateDate">Certificate Date (dd/mm/yyyy) :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <input class="form-control" id="certificateDate"
                           th:field="*{certificateDate}" type="text">
                    <div th:if="${#fields.hasErrors('certificateDate')}">
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.errors('certificateDate')}" th:text="${err}"/>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr style="border-bottom: 5px solid #ccc;">
                <td style="text-align: right;">
                    <label for="certificateType">Certificate Type :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <select id="certificateType" style="width: 200px;" name="certificateType"
                                th:field="*{certificateType}">
                            <option th:value="${''}" th:text="${''}"></option>
                            <option th:each="value : ${T(scot.carricksoftware.grants.enums.certificates.CertificateType).values()}"
                                    th:value="${value}" th:text="${value.label}"></option>
                        </select>
                    </div>
                    <div th:if="${#fields.hasErrors('certificateType')}">
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.errors('certificateType')}" th:text="${err}"/>
                        </ul>
                    </div>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="registrationAuthority">Registration Authority :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <select id="registrationAuthority" style="width: 200px;" name="registrationAuthority"
                                th:field="*{registrationAuthority}">
                            <option th:value="${''}" th:text="${''}"></option>
                            <!--/*@thymesVar id="organisations" type="scot.carricksoftware.grants.domains.places.Organisation"*/-->
                            <option th:each="organisation : ${organisations}"
                                    th:value="${organisation.id}" th:text="${organisation.name}"></option>
                        </select>
                    </div>
                    <div th:if="${#fields.hasErrors('registrationAuthority')}">
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.errors('registrationAuthority')}" th:text="${err}"/>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="volume">Volume :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="volume" id="volume"
                               th:field="*{volume}" type="text">
                        <div th:if="${#fields.hasErrors('volume')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('volume')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="border-bottom: 5px solid #ccc;">
                <td style="text-align: right;">
                    <label for="number">Number :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="number" id="number"
                               th:field="*{number}" type="text">
                        <div th:if="${#fields.hasErrors('number')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('number')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="deceased">Deceased :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <select id="deceased" name="deceased" th:field="*{deceased}">
                        <option th:value="${''}" th:text="${''}"></option>
                        <option th:each="person : ${people}"
                                th:value="${person.id}" th:text="${person.toString()}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('deceased')}">
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.errors('deceased')}" th:text="${err}"/>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="sex">Sex :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <select id="sex" style="width: 200px;" name="sex" th:field="*{sex}">
                        <option th:value="${''}" th:text="${''}"></option>
                        <option th:each="value : ${T(scot.carricksoftware.grants.enums.general.Sex).values()}"
                                th:value="${value}" th:text="${value.label}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('sex')}">
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.errors('sex')}" th:text="${err}"/>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <label for="occupation">Occupation :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="occupation" id="occupation"
                               th:field="*{occupation}" type="text">
                        <div th:if="${#fields.hasErrors('occupation')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('occupation')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="whenBorn">When Born (dd/mm/yyyy) :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="whenBorn" id="whenBorn"
                               th:field="*{whenBorn}" type="text">
                        <div th:if="${#fields.hasErrors('whenBorn')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('whenBorn')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="age">Age :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="age" id="age"
                               th:field="*{age}" type="text">
                        <div th:if="${#fields.hasErrors('age')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('age')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="maritalStatus">Marital Status :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <select id="maritalStatus" style="width: 200px;" name="maritalStatus"
                                th:field="*{maritalStatus}">
                            <option th:value="${''}" th:text="${''}"></option>
                            <option th:each="value : ${T(scot.carricksoftware.grants.enums.censusentry.CensusEntryCondition).values()}"
                                    th:value="${value}" th:text="${value.label}"></option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="whenDied">When Died (dd/mm/yyyy hh:mm) :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="whenDied" id="whenDied"
                               th:field="*{whenDied}" type="text">
                        <div th:if="${#fields.hasErrors('whenDied')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('whenDied')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; background-color: #F542A4;">
                    <label for="whereDied">Where Died :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <select id="whereDied" name="whereDied" th:field="*{whereDied}">
                        <option th:value="${''}" th:text="${''}"></option>
                        <option th:each="place : ${places}"
                                th:value="${place.id}" th:text="${place.toString()}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('whereDied')}">
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.errors('whereDied')}" th:text="${err}"/>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; background-color: #F542A4;">
                    <label for="untrackedWhereDied">Where Died (untracked) :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="untrackedWhereDied" id="untrackedWhereDied"
                               th:field="*{untrackedWhereDied}" type="text">
                        <div th:if="${#fields.hasErrors('untrackedWhereDied')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('untrackedWhereDied')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; background-color: #5D42F5;">
                    <label for="usualResidence">Usual Residence :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <select id="usualResidence" name="usualResidence" th:field="*{usualResidence}">m
                        <option th:value="${''}" th:text="${''}"></option>
                        <option th:each="place : ${places}"
                                th:value="${place.id}" th:text="${place.toString()}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('usualResidence')}">
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.errors('usualResidence')}" th:text="${err}"/>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;  background-color: #5D42F5;">
                    <label for="untrackedUsualResidence">Usual Residence (untracked) :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="untrackedUsualResidence" id="untrackedUsualResidence"
                               th:field="*{untrackedUsualResidence}" type="text">
                        <div th:if="${#fields.hasErrors('untrackedUsualResidence')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('untrackedUsualResidence')}"
                                    th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="causeOfDeath">Cause of Death :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <textarea class="causeOfDeath" id="causeOfDeath" rows="5" cols="60"
                                  th:field="*{causeOfDeath}" type="text"></textarea>
                        <div th:if="${#fields.hasErrors('causeOfDeath')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('causeOfDeath')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; background-color: #F2F542;;">
                    <label for="spouse">Spouse :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <select id="spouse" name="spouse" th:field="*{spouse}">
                        <option th:value="${''}" th:text="${''}"></option>
                        <option th:each="person : ${people}"
                                th:value="${person.id}" th:text="${person.toString()}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('spouse')}">
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.errors('spouse')}" th:text="${err}"/>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; background-color: #F2F542;">
                    <label for="untrackedSpouse">Spouse (untracked) :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="untrackedSpouse" id="untrackedSpouse"
                               th:field="*{untrackedSpouse}" type="text">
                        <div th:if="${#fields.hasErrors('untrackedSpouse')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('untrackedSpouse')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="spouseOccupation">Spouse Occupation :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="spouseOccupation" id="spouseOccupation"
                               th:field="*{spouseOccupation}" type="text">
                        <div th:if="${#fields.hasErrors('spouseOccupation')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('spouseOccupation')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; background-color: #D6EEEE;">
                    <label for="father">Father :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <select id="father" name="father" th:field="*{father}">
                        <option th:value="${''}" th:text="${''}"></option>
                        <option th:each="person : ${people}"
                                th:value="${person.id}" th:text="${person.toString()}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('father')}">
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.errors('father')}" th:text="${err}"/>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; background-color: #D6EEEE;">
                    <label for="untrackedFather">Father (untracked) :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="untrackedFather" id="untrackedFather"
                               th:field="*{untrackedFather}" type="text">
                        <div th:if="${#fields.hasErrors('untrackedFather')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('untrackedFather')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="fatherOccupation">Father Occupation :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="fatherOccupation" id="fatherOccupation"
                               th:field="*{fatherOccupation}" type="text">
                        <div th:if="${#fields.hasErrors('fatherOccupation')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('fatherOccupation')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; background-color: #73ff00;">
                    <label for="mother">Mother :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <select id="mother" name="mother" th:field="*{mother}">
                        <option th:value="${''}" th:text="${''}"></option>
                        <option th:each="person : ${people}"
                                th:value="${person.id}" th:text="${person.toString()}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('mother')}">
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.errors('mother')}" th:text="${err}"/>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; background-color: #73ff00;">
                    <label for="untrackedMother">Mother (untracked) :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="untrackedMother" id="untrackedMother"
                               th:field="*{untrackedMother}" type="text">
                        <div th:if="${#fields.hasErrors('untrackedMother')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('untrackedMother')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="motherOccupation">Mother Occupation :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="motherOccupation" id="motherOccupation"
                               th:field="*{motherOccupation}" type="text">
                        <div th:if="${#fields.hasErrors('motherOccupation')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('motherOccupation')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; background-color: #FFC300;">
                    <label for="informant">Informant :&nbsp;</label>
                </td>

                <td style="text-align: left;">
                    <select id="informant" name="informant" th:field="*{informant}">
                        <option th:value="${''}" th:text="${''}"></option>
                        <option th:each="person : ${people}"
                                th:value="${person.id}" th:text="${person.toString()}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('informant')}">
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.errors('informant')}" th:text="${err}"/>
                        </ul>
                    </div>
                </td>

            </tr>
            <tr>
                <td style="text-align: right; background-color: #FFC300;">
                    <label for="untrackedInformant">Informant (untracked) :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="untrackedInformant" id="untrackedInformant"
                               th:field="*{untrackedInformant}" type="text">
                        <div th:if="${#fields.hasErrors('untrackedInformant')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('untrackedInformant')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="informantQualification">Informant Qualification :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="informantQualification" id="informantQualification"
                               th:field="*{informantQualification}" type="text">
                    </div>
                <div th:if="${#fields.hasErrors('informantQualification')}">
                    <ul class="text-danger">
                        <li th:each="err : ${#fields.errors('informantQualification')}" th:text="${err}"/>
                    </ul>
                </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="whenRegistered">When Registered (dd/mm/yyyy) :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="whenRegistered" id="whenRegistered"
                               th:field="*{whenRegistered}" type="text">
                        <div th:if="${#fields.hasErrors('whenRegistered')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('whenRegistered')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <label for="whereRegistered">Where Registered :&nbsp;</label>
                </td>
                <td style="text-align: left;">
                    <div>
                        <input class="whereRegistered" id="whereRegistered"
                               th:field="*{whereRegistered}" type="text">
                        <div th:if="${#fields.hasErrors('whereRegistered')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('whereRegistered')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Commit</button>
        <a class="btn btn-secondary" th:href="@{/deathCertificates}" th:text="${'List all'}">List all</a>
        <a class="btn btn-success" th:href="@{/}" th:text="${'Home'}">Home</a>
        <h6><span style="color: rgb(255,0,0);">*</span><span> Cannot be edited</span></h6>
    </form>
</div>
</body>

</html>
