<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--suppress SpellCheckingInspection -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Grants Application - home page</title>
</head>
<body>

<div>
    <div class="p-3 mb-2 bg-primary text-white">
        <div class="row align-items-start">
            <div class="col">
                <img class="img-responsive" src="../static/resources/images/Four.jpg"
                     th:src="@{/resources/images/Four.jpg}" alt="Foursome" style="width:100px;height:100px;"/>
            </div>
            <div class="col">
                <br><h1>The Grants</h1>
            </div>
            <div class="col">
                <img class="img-responsive" src="../static/resources/images/Bellfield.jpg"
                     th:src="@{/resources/images/Bellfield.jpg}" alt="Bellfield" style="width:100px;height:100px;"/>
            </div>
        </div>
    </div>
</div>


<div class="mx-auto" style="width:50%">
    <h1 id="pageHeader">Available Functions</h1>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>

            </td>
            <td>
                <a class="btn btn-primary btn-lg btn-block" href="people">People</a>
            </td>
            <td>
                <a class="btn btn-primary btn-lg btn-block" href="place/list">Places</a>
            </td>
            <td>
                <a class="btn btn-primary btn-lg btn-block" href="latex">Write Output</a>
            </td>
        </tr>
        <tr>
            <td>

            </td>

            <td>
                <a class="btn btn-outline-secondary btn-sm btn-block" href="date/list">Dates</a>
            </td>
            <td>
                <a class="btn btn-outline-secondary btn-sm btn-block" href="country/list">Countries</a>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <a class="btn btn-primary btn-sm btn-block" href="birth_certificate/list">Birth Certificates</a>
            </td>
            <td>
                <!--suppress HtmlUnknownTarget -->
                <a class="btn btn-outline-secondary btn-sm btn-block" href="location/list">Locations</a>
            </td>
            <td>
            </td>

        </tr>
        <tr>
            <td>

            </td>
            <td>
                <a class="btn btn-primary btn-sm btn-block" href="death_certificate/list">Death Certificates</a>
            </td>
            <td>
            </td>
            <td>
            </td>

        </tr>
        <tr>
            <td>

            </td>
            <td>
                <a class="btn btn-primary btn-sm btn-block"
                   href="marriage_certificate/list">Marriage Certificates (Groom)</a>
            </td>
            <td>
            </td>
            <td>
            </td>

        </tr>
        <tr>
            <td>

            </td>
            <td>
                <a class="btn btn-primary btn-sm btn-block"
                   href="marriage_certificate/brideList">Marriage Certificates (Bride)</a>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
