<!DOCTYPE html>
<!DOCTYPE html>
<!--suppress ALL -->
<html lang=en-gb xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--suppress SpellCheckingInspection -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Grants Application (People)</title>
</head>
<body>

<div class="container-md">
    <div class="mx-auto" style=";width:50%;">
        <h1 id="pageHeader">Grants Application - People</h1>
        <h3>List of People</h3>
        <hr>

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>&nbsp;</th>
            </tr>
            </thead>

            <tr th:each="person : ${people}">
                <td th:text="${person.id}">123</td>
                <td th:text="${person.lastName}">Trump</td>
                <td th:text="${person.firstName}">Donald</td>

                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary btn-sm" th:href="@{/person/__${person.id}__/edit}"
                           th:text="${BUTTON_EDIT}">View/Edit</a>
                        &nbsp;
                        <a class="btn btn-danger btn-sm" th:href="@{/person/__${person.id}__/delete}"
                           th:text="${BUTTON_DELETE}">Delete</a>
                    </div>
                </td>
            </tr>
        </table>
        <h6 style="text-align:center">(Year) indicates a recorded but not certified date.</h6>
        <div>
            <div style="text-align:center;">
                <a class="btn btn-info" th:href="@{/}" th:text="${BUTTON_REWIND}">Next&raquo</a>
                <a class="btn btn-info" th:href="@{/}" th:text="${BUTTON_BACK}">&laquo
                    Previous</a>
                <a class="btn btn-primary" th:href="@{/}" th:text="${BUTTON_NEW}">New Person</a>
                <a class="btn btn-success" th:href="@{/}" th:text="${BUTTON_HOME}">Home</a>
                <a class="btn btn-info" th:href="@{/people/next}" th:text="${BUTTON_FORWARD}">Next&raquo</a>
                <a class="btn btn-info" th:href="@{/}" th:text="${BUTTON_END}">Next&raquo</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
